@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
$Dark-Blue: hsl(233, 26%, 24%);
$Lime-Green: hsl(136, 65%, 51%);
$Bright-Cyan: hsl(192, 70%, 51%);

$Grayish-Blue: hsl(233, 8%, 62%);
$Light-Grayish-Blue: hsl(220, 16%, 96%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);
$Font: "Public Sans", sans-serif;
@import 'second';
@import 'third';
@import 'fourth';

html {
  font-size: 18px;
  font-family: $Font;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  main {
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 8rem;
      background: $White;
      top: 0;
      left: 0;
      width: 100%;
      position: fixed;
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      .hamburger {
        display: none;
      }
      nav {
        ul {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          list-style: none;
          li {
            a {
              text-decoration: none;
              color: $Grayish-Blue;
              font-size: 0.8rem;
              position: relative;
              &:hover {
                color: $Lime-Green;
              }
              &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 3px;
                background: linear;
                left: 0;
                bottom: -200%;
              }
            }
          }
        }
      }
      .btn{
        border: none;
        outline: none;
        padding: 0.7rem 1.7rem;
        background: linear-gradient(to right, $Lime-Green, $Bright-Cyan);
        border-radius: 5rem;
        color: $White;
        font-family: $Font;
        font-weight: 700;
        cursor: pointer;
        &:hover{
          opacity: 0.6;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  body {
    main {
      header {
        padding: 0;
        padding: 1rem 1.5rem;
        position: relative;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        position: fixed;
        nav {
          display: none;
          position: absolute;
          top: 140%;
          width: 85%;
          left: 5%;
          background: $White;
          border-radius: 0.5rem;
          padding: 1.5rem 0;
          ul {
            flex-direction: column;
            gap: 1rem;
            li {
              a {
                font-size: 1rem;
                color: $Dark-Blue;
                font-weight: 700;
              }
            }
          }
        }
        .visible {
          display: block;
        }
        button {
          display: none;
        }
        .hamburger {
          display: block;
          .close {
            display: none;
          }
        }
        .open {
          .ham {
            display: none;
          }
          .close {
            display: block;
          }
        }
      }
    }
  }
}
